@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* 
    1- #B5F44A - Green Lizard
    2- #70EE9C - Light Green
    3- #79AEA3 - Green Sheen
    4- #434371 - Purple Navy
    5- #484041 - Dark Liver
*/

*{
    margin: 0px;
    padding: 0px;
}

h1, h2{
    margin-bottom: 3%;
    margin-top: 1%;
}
:root{
    --cor0: #B5F44A;
    --cor1: #70EE9C;
    --cor2: #79AEA3;
    --cor3: #434371;
    --cor4: #5f5355;
    
    --fonte-p: Arial, Verdana, Helvetica, sans-serif;
    --fonte-d: 'Bebas Neue', sans-serif;
    --fonte-a: 'Android', sans-serif;

}
html{
    background-image: linear-gradient(to top,#749b31,#5f5355 );
    text-align: justify;
}

header{

    color: white;
    text-align: center;
}

nav{
    border-radius: 15px;
    margin: auto;
    max-width: 83%;
    text-align: center;
}
nav > a{
    margin: 1%;
    color: var(--cor1);
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    padding: 1%   ;
    background-color: var(--cor2);
    border-radius: 15px;
}

header > p{
    text-indent: 0%;
    margin-bottom: 1%;
}
header > h1{
    font-family: var(--fonte-d);
    font-size: 3rem;
}
body{
    font-family: var(--fonte-p);
    
}

p{
    text-indent: 5%;
    line-height: 2em;
}

main{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    margin: auto;
    margin-top: 1%;
    padding: 20px;
    max-width: 75%;
    min-width: 40%;
    background-color:rgb(255, 245, 245);
}

a{
    border-radius: 5px;
    padding: 5px;
    color: #749b31;
    text-decoration: none;
    background-color: #70ee9c7c;
    transition-duration: 00.5s;
}

a:hover{
    color: white;
    text-decoration: underline;
    background-color: #749b31;
}

article > h1{
    text-align: center;
    font-family: var(--fonte-a);
    color: #70EE9C;
}

article > h2{
    padding-left: 1%;
    font-family: var(--fonte-a);
    color: rgb(255, 245, 245);
    background-image: linear-gradient(to right , #70EE9C, rgb(255, 245, 245) );
}

#gustavo{
    background-color: transparent;
    color: white;
    transition: 00.5s;
}

#gustavo:hover{
    background-color: white;
    color: black;
}

footer{
    margin-top: 1%;
    text-align: center;
    font-family: var(--fonte-d);
}
img{
    width: 90%;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 15px rgb(85, 85, 85);

}

#bugdroid{
    max-width: 40%;
    min-width: 20%;
}

#video-sec{
    background-color: #434371;
    border-radius: 10px;
}

#ytvideo{
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.301);
    max-width: 80%;
    min-width: 40%;
}

aside{
    background-color:rgba(85, 85, 85, 0.322);
    padding: 1%;
    border-radius: 15px;
    
}

aside > h3{
    background-color: white;
    color: black;
    padding: 1%;
    border-radius: 15px;
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}